

<table id="calendar_table">
    <thead>
    <tr>
        {% for col in columns %}
        <th>
            {{ col }}
        </th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in calendar %}
    <tr>
        <td>
            {{ row.id }}
        </td>
        <td>
            {{ row.title }}
        </td>
        <td>
            {{ row.coins }}
        </td>
        <td>
            {{ row.date_event }}
        </td>
        <td>
            {{ row.created_date }}
        </td>
        <td>
            {{ row.categories }}
        </td>
        <td>
            <a href="{{ row.source }}">
                {{ row.source }}
            </a>
        </td>



    </tr>
    {% endfor %}
    </tbody>
</table>