

<div id="navbar" class="w3-top w3-bar w3-black w3-card">
    <a href="{% url 'website:home' %}" class="w3-bar-item w3-button w3-padding-large"> Home </a>
    <a href="/companies/{{ symbol }}/income_statement" class="w3-bar-item w3-button w3-padding-large"> Income statement </a>
    <a href="/companies/{{ symbol }}/balance_sheet" class="w3-bar-item w3-button w3-padding-large"> Balance sheet </a>
    <a href="/companies/{{ symbol }}/cash_flow" class="w3-bar-item w3-button w3-padding-large"> Cash flow </a>
</div>

