

<div id="portfolio_topbar">
    <div id="portfolio_checkboxes">
        <input type="checkbox" id="symbol_cb" name="symbol_cb" checked>
        <input type="checkbox" id="name_cb" name="name_cb" checked>
        <input type="checkbox" id="amount_cb" name="amount_cb" checked>
        <input type="checkbox" id="price_cb" name="price_cb" checked>
        <input type="checkbox" id="symbol_cb" name="symbol_cb" checked>
        <input type="checkbox" id="symbol_cb" name="symbol_cb" checked>
    </div>

</div>