{% extends 'website/base.html' %}

{% block content %}

    <div id="watchlist_view" class="row">
        <div id="watchlist_sidebar_div0" class="container">
            {% include 'watchlist/_watchlist_sidebar.html' %}
            {% include 'watchlist/_watchlist_panel.html' %}
        </div>
        <div id="watchlist_table_div">
            {% include 'watchlist/_watchlist_table.html' %}
        </div>
    </div>
{% endblock %}

{% block js %}
    {% if notification %}
        <script type="text/javascript">
            let text = "{{ notification }}";
            alert(text);
        </script>
    {% endif %}

    <script src="{% static 'js/watchlist.js' %}" type="text/javascript">
    </script>
{% endblock %}

