

  <div id="crypto_sidebar_div" class="w3-list w3-black w3-card">
      <ul id="crypto_sidebar">
          <li><a href="{% url 'crypto:crypto' %}"> Top coins </a></li>
          <li><a href="{% url 'crypto:exchanges' %}"> Exchanges </a></li>
          <li><a href="{% url 'crypto:dominance' %}"> Dominance </a></li>
          <li><a href="{% url 'crypto:global_metrics' %}"> Global metrics </a></li>
          <li><a href="{% url 'crypto:movers' %}"> Trending </a></li>
          <li><a href="{% url 'crypto:defi' %}"> DeFi </a></li>
          <li><a href="{% url 'crypto:nft' %}"> NFT </a></li>
      </ul>
  </div>