

  <div id="markets_sidebar_div" class="w3-list w3-black w3-card">
      <ul id="markets_sidebar">

        <li><a href="{% url 'markets:all_markets' %}"> All markets </a></li>
        <li><a href="{% url 'markets:indices' %}"> Indices </a></li>
        <li><a href="{% url 'markets:sectors' %}"> Sectors </a></li>
        <li><a href="{% url 'markets:stocks' %}"> Stocks </a></li>
        <li><a href="{% url 'markets:bonds' %}"> Bonds </a></li>
        <li><a href="{% url 'markets:forex' %}"> Forex </a></li>
        <li><a href="{% url 'markets:commodities' %}"> Bonds </a></li>
        <li><a href="{% url 'markets:bonds' %}"> Bonds </a></li>
        <li><a href="{% url 'crypto:crypto' %}"> Crypto </a></li>

      </ul>

  </div>