

<div id="macro_navbar" class="w3-top w3-bar w3-black w3-card">
    <a href="{% url 'website:home' %}" class="w3-bar-item w3-button w3-padding-large"> Home </a>
    <a href="{% url 'macro:macro' %}" class="w3-bar-item w3-button w3-padding-large"> Macro </a>
    <a href="{% url 'macro:debt' %}" class="w3-bar-item w3-button w3-padding-large">              </a>
    <a href="{% url 'macro:inflation' %}" class="w3-bar-item w3-button w3-padding-large"> Inflation </a>
    <a href="{% url 'macro:debt' %}" class="w3-bar-item w3-button w3-padding-large"> Debt-to-GDP </a>
    <a href="{% url 'macro:gdp' %}" class="w3-bar-item w3-button w3-padding-large"> GDP </a>

</div>




